<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Paycheck Budget</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/numeral/numeral.min.js"></script>
    <script src="~/Scripts/PB.js"></script>
    <!--  WinJS references
    <link href="/WinJS/css/ui-light.css" rel="stylesheet">
    <script src="/WinJS/js/WinJS.js"></script>
    -->
</head>
<body style="">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Paycheck Budget</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="/Home/Index">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Bills/">Bills</a></li>
                                    <li><a href="/Income">Income</a></li>
                                    <li><a href="/Settings/Edit">Settings</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Home/About">About</a></li>
                                    <li><a href="/Home/Contact">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li style="color:#333; padding-top:12px; padding-right:10px;">Hi, @User.Identity.Name!</li>
                            <li style=" padding-top:5px;"><input type="submit" value="Log Out" class="btn btn-default" /></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="/Home/Index">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Home/About">About</a></li>
                                    <li><a href="/Home/Contact">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="~/Account/Login">Login</a></li>
                            <li><a href="~/Account/Register">Register</a></li>
                        </ul>
                    }

                </div><!--/.nav-collapse -->
            </div>
        </nav>
    }
    <div style="height:25px;"></div>
    <div class="container">
        <div class="jumbotron">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Paycheck Budget</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>